<a href="https://colab.research.google.com/github/mmanevskaya/pythonLabs/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22%D0%A1%D0%B5%D0%BC%D0%B8%D0%BD%D0%B0%D1%80_%D0%BA%D0%BE%D1%84%D0%B5%D0%B9%D0%BD%D1%8F%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install peewee
from peewee import *

db = SqliteDatabase('my.db')

class Zooshop(Model):
    name = CharField()
    address = CharField()
    rating = IntegerField()
    income = IntegerField()

    class Meta:
        database = db

class Employee(Model):
    name = CharField()
    task = CharField()
    salary = IntegerField()
    place = ForeignKeyField(Zooshop)
    class Meta:
        database = db

class Pet(Model):
    name = CharField()
    age = IntegerField()
    species = CharField()
    price = IntegerField()

    class Meta:
        database = db
  
class Assortiment(Model):
    place = ForeignKeyField(Zooshop)
    pet = ForeignKeyField(Pet)
    
    class Meta:
        database = db

db.connect()

db.drop_tables([Pet,Zooshop,Employee,Assortiment])
db.create_tables([Pet,Zooshop,Employee,Assortiment])

zooshop = Zooshop(name='Зоомагазин', address='Kurskaya', rating=4, income=25000)
zooshopmega = Zooshop(name='ЗоомагазинМЕГА', address='Butovo', rating=1,income=15000)
zoopark = Zooshop(name='ЗооПарк', address='Chertanovo', rating=5,income=150000)

zooshop.save()
zooshopmega.save()
zoopark.save()

fluffy = Pet(name='fluffy', age=1, species='hamster',price=180)
buzz = Pet(name='Buzz', age=2, species='Hummingbird', price = 200)

sparky = Pet(name='Sparky', age=1, species='rat', price = 50)
zippy = Pet(name='Zippy', age=1, species='rat', price = 50)

speedy = Pet(name='Speedy', age=1, species='hamster', price = 150)


fluffy.save()
speedy.save()
sparky.save()
zippy.save()
buzz.save()

fluffy_zooshop = Assortiment(place=zooshop,pet=fluffy)
buzz_zooshop = Assortiment(place=zooshop,pet=buzz)
fluffy_zooshopmega = Assortiment(place=zooshopmega,pet=fluffy)
sparky_zooshopmega = Assortiment(place=zooshopmega,pet=sparky)
zippy_zooshop = Assortiment(place=zooshop,pet=zippy)
speedy_zoopark =  Assortiment(place=zoopark,pet=speedy)
fluffy_zooshop.save()
buzz_zooshop.save()
fluffy_zooshopmega.save()
sparky_zooshopmega.save()
zippy_zooshop.save()
speedy_zoopark.save()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: peewee in /usr/local/lib/python3.9/dist-packages (3.16.0)

1

# Запрос SELECT
*   список кофеен
*   какими продуктами торгуют

In [ ]:
for c in Zooshop.select():
  print(c.name, " Адрес:",c.address)

Зоомагазин  Адрес: Kurskaya
ЗоомагазинМЕГА  Адрес: Butovo
ЗооПарк  Адрес: Chertanovo

In [ ]:
for p in Pet.select():
  print(p.name, p.price)

fluffy 180
Speedy 150
Sparky 50
Zippy 50
Buzz 200

In [ ]:
for a in Assortiment.select().where(Assortiment.place==zoopark):
  print(a.pet.name, a.pet.price)

Speedy 150